---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<html>
    <head>
        <BaseHead title="About"/>
    </head>
    <body>
        <Header/>
        <div class="container">
            <h2>And you are?</h2>
            <p>Zayyad Muhammad Sani, a programmer and technical writer. I like building educational apps, and more generally, apps that have good, real-world uses.</p>
            <h2>What are you working on?</h2>
            <p>I'm currently building a <a href="https://z-ms.github.io/DSAViz/">Data Structures & Algorithms simulator</a> with HTML, CSS and JavaScript. It's still in the early stages of development.</p>
            <h2>Why are you interviewing yourself?</h2>
            <p>Because it's fun 🙃. And because I don't want to write an autobiography.</p>
            <h2>Got anything else to say?</h2>
            <p>Yes. This website is a live work in progress, so expect frequent changes.</p>
            <p>You can find my other projects on <a href="https://github.com/Z-MS/">Github</a>. I'm also on <a href="facebook.com/zayyad.sani">Facebook</a> and <a href="https://twitter.com/zayyad_ms">Twitter</a>.</p>
        </div>
        <Footer/>
    </body>
</html>
