---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<html>
    <head>
        <BaseHead title="About"/>
    </head>
    <body>
        <script> import "../../node_modules/elmah.io.javascript/dist/elmahio.min.js"</script>

        <Header/>
        <div class="container">
            <h2>And you are?</h2>
            <p>Zayyad Muhammad Sani, a programmer and technical writer. I like building educational apps, and more generally, apps that have good, real-world uses.</p>

            <h2>What are your favourite projects?</h2>
            <ul>
                <li><a href="">DSAViz</a> - A Data structures and Algorithms Simulator written in Java for my final undergraduate project</li>
                <li><a href="">Zaad</a> - A note taker and taskk management app written in Vue</li>
                <li><a href="">LightbulbAR</a> - Recreation of a popular physics experiment in Augmented reality</li>
            </ul>
            <p>I'm currently building a <a href="https://z-ms.github.io/DSAViz/">Data Structures & Algorithms simulator</a> with HTML, CSS and JavaScript. It's still in the early stages of development.</p>

            <h2 onclick='throw new Error("No");'>Why are you interviewing yourself?</h2>
            <p>Because it's fun 🙃. And because I don't want to write an autobiography.</p>
            <h2>Got anything else to say?</h2>
            <p>Yes. This website is a live work in progress, so expect frequent changes.</p>
            <p>You can find my other projects on <a href="https://github.com/Z-MS/">Github</a>. I'm also on <a href="facebook.com/zayyad.sani">Facebook</a> and <a href="https://twitter.com/zayyad_ms">Twitter</a>.</p>
        </div>
        <Footer/>
        <script>
            setTimeout(() => {
                const elmahInstance = 
        new Elmahio({
                apiKey: '8b528665ce604025be7e87283e4b68fa',
                logId: '3c9cddc1-037b-4fc5-91b8-64dc60d27bfc',
                application: 'My application name'
            }).on('message', function(msg) {
                msg.user = "zayyad@email.com";
            });
            console.log(elmahInstance)
        }, 3000);
            
        </script>
    </body>
</html>
