---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<a href="/">
		<img src="/assets/zms.svg" width="60" height="50" alt="Website logo">
	</a>
	<nav>
		<HeaderLink href="/">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</header>
<style>
	header {
		border-bottom: 1px solid #e4e1ff;
		background-color: #ffffff;
		padding: 0.25rem 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;		
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
